<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.mapplay.msmi_client">

    <uses-permission android:name="android.permission.INTERNET" /><!--  允许程序访问网络连接，可能产生GPRS流量  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- 允许程序写入外部存储,如SD卡上写文件 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChatActivity" />
        <activity android:name=".TagetsActivity" />

        <service android:name=".msmi.MSMI_Backservice" />

        <receiver
            android:name=".msmi.MSMI_BroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.mapplay.msmi_client.msmi.MSMI_BroadcastReceiver" />
            </intent-filter>
        </receiver>

    </application>

</manifest>